@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505; /* Gelap pekat */
  color: #e5e7eb;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar biar kaya VS Code */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e1e1e; 
}
::-webkit-scrollbar-thumb {
  background: #3b82f6; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2563eb; 
}

/* Animasi Fade In */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}